<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var UG_VK_OPTS = {
            all: false,
            whitelist: ['try-it']
        };
    </script>
    <script src="javascripts/ug_vk.min.js" type="text/javascript" async></script>

    <title>ug_vk by finalfantasia</title>
</head>
<body dir="rtl">
    <div id="content-template-wrapper"></div>

    <script id="content-template" type="text/x-html-template">
        <header>
            <div class="inner">
                <h1><%= name %></h1>
                <h2><%= description.short %></h2>
                <a href="https://github.com/finalfantasia/ug_vk" class="button"><small><%= gitHub.viewProject %> </small>GitHub</a>
            </div>
        </header>
        <div id="content-wrapper">
            <div class="inner clearfix">
                <section id="main-content">
                    <p><%= description.long %></p>
                    <h2><a name="whats-new" class="anchor" href="#whats-new"><span class="octicon octicon-link"></span></a><%= whatsNew.title %></h2>
                    <ul>
                        <% _.each(whatsNew.features, function (feature) { %>
                            <li><%= feature %></li>
                        <% }); %>
                    </ul>
                    <h2><%= tryIt.title %></h2>
                    <textarea name="try-it" class="try-it"></textarea>
                    <ul>
                        <% _.each(tryIt.features, function (feature) { %>
                            <li><%= feature %></li>
                        <% }); %>
                    </ul>
                    <h2><a name="usage" class="anchor" href="#usage"><span class="octicon octicon-link"></span></a><%= howToUse.title %></h2>
                    <h3><%= howToUse.instructions.header %></h3>
                    <h4><%= howToUse.instructions.step1 %></h4>
                    <p><%= howToUse.instructions.varDeclarations %></p>
                    <div class="highlight highlight-HTML">
                        <pre dir="ltr">
<span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;</span>
...
    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span><span class="nt">&gt;</span>
        <span class="kd">var</span> <span class="nx">UG_VK_OPTS</span> <span class="o">= {</span>
                <span class="nx">all</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>
                <span class="nx">blacklist</span><span class="o">:</span> <span class="o">[</span><span class="s1">'password'</span><span class="o">,</span> <span class="s1">'url'</span><span class="o">,</span> <span class="s1">'email'</span><span class="o">]</span>
            <span class="o">}</span><span class="p">;</span>
    <span class="nt">&lt;/script&gt;</span>
...
<span class="nt">&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
...
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span></pre></div><p><%= howToUse.instructions.or %></p><div class="highlight highlight-HTML">
                    <pre dir="ltr">
<span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;</span>
...
    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span><span class="nt">&gt;</span>
        <span class="kd">var</span> <span class="nx">UG_VK_OPTS</span> <span class="o">= {</span>
                <span class="nx">all</span><span class="o">:</span> <span class="kc">false</span><span class="p">,</span>
                <span class="nx">whitelist</span><span class="o">:</span> <span class="o">[</span><span class="s1">'name'</span><span class="o">,</span> <span class="s1">'comment'</span><span class="o">,</span> <span class="s1">'post'</span><span class="o">]</span>
            <span class="o">}</span><span class="p">;</span>
    <span class="nt">&lt;/script&gt;</span>
...
<span class="nt">&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
...
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span></pre></div>
                <p><%= howToUse.instructions.varExplanations %></p>
                <ul>
                    <li><code>all</code>: <%= howToUse.instructions.all %></li>
                    <li><code>whitelist</code>: <%= howToUse.instructions.whitelist %></li>
                    <li><code>blacklist</code>: <%= howToUse.instructions.blacklist %></li>
                </ul>
                <h4><%= howToUse.instructions.step2 %></h4>
                <p><%= howToUse.instructions.ugvkInclusion %></p>
                <div class="highlight highlight-HTML">
                    <pre dir="ltr">
<span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;</span>
...
    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span><span class="nt">&gt;</span>
        <span class="kd">var</span> <span class="nx">UG_VK_OPTS</span> <span class="o">= {</span>
                <span class="nx">all</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>
                <span class="nx">blacklist</span><span class="o">:</span> <span class="o">[</span><span class="s1">'password'</span><span class="o">,</span> <span class="s1">'url'</span><span class="o">,</span> <span class="s1">'email'</span><span class="o">]</span>
            <span class="o">}</span><span class="p">;</span>
    <span class="nt">&lt;/script&gt;</span>
    <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"//www.beket.com/js/ug_vk.min.js"</span> <span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">async</span><span class="nt">&gt;&lt;/script&gt;</span>
...
<span class="nt">&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
...
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span></pre>
                    </div>
                <p><%= howToUse.instructions.thatsIt %></p>
                    <h3><%= howToUse.instructions.legacy.header %></h3>
                    <h4><%= howToUse.instructions.step1 %></h4>
                    <p><%= howToUse.instructions.varDeclarations %></p>
                    <div class="highlight highlight-HTML">
                        <pre dir="ltr">
<span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;</span>
...
    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span><span class="nt">&gt;</span>
        <span class="kd">var</span> <span class="nx">attachAll</span> <span class="o">=</span> <span class="kc">true</span><span class="p">;</span>

        <span class="c1"><%= howToUse.instructions.legacy.separateUsingColon %></span>
        <span class="kd">var</span> <span class="nx">bedit_deny</span> <span class="o">=</span> <span class="s1">'password:url:email'</span><span class="p">;</span>

        <span class="c1"><%= howToUse.instructions.legacy.separateUsingColon %></span>
        <span class="c1">// var bedit_allow = 'name:comment:post'; </span>
    <span class="nt">&lt;/script&gt;</span>
...
<span class="nt">&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
...
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span></pre></div><p><%= howToUse.instructions.legacy.beditJSVarsReuse %></p>
                <p><%= howToUse.instructions.varExplanations %></p>
                <ul>
                    <li><code>attachAll</code>: <%= howToUse.instructions.all %></li>
                    <li><code>bedit_allow</code>: <%= howToUse.instructions.whitelist %></li>
                    <li><code>bedit_deny</code>: <%= howToUse.instructions.blacklist %></li>
                </ul>
                <h4><%= howToUse.instructions.step2 %></h4>
                <p><%= howToUse.instructions.ugvkInclusion %></p>
                <div class="highlight highlight-HTML">
                    <pre dir="ltr">
<span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;</span>
...
    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span><span class="nt">&gt;</span>
        <span class="kd">var</span> <span class="nx">attachAll</span> <span class="o">=</span> <span class="kc">true</span><span class="p">;</span>
        <span class="kd">var</span> <span class="nx">bedit_deny</span> <span class="o">=</span> <span class="s1">'password:url:email'</span><span class="p">;</span>
    <span class="nt">&lt;/script&gt;</span>
    <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"//www.beket.com/js/ug_vk.min.js"</span> <span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">async</span><span class="nt">&gt;&lt;/script&gt;</span>
...
<span class="nt">&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
...
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span></pre>
                    </div>
                <p><%= howToUse.instructions.thatsIt %></p>
                </section>
                <aside id="sidebar">
                    <a href="https://github.com/finalfantasia/ug_vk/zipball/master" class="button"><small><%= gitHub.download %></small><span lang="en" dir="ltr">.zip</span> <%= gitHub.file %></a>
                    <a href="https://github.com/finalfantasia/ug_vk/tarball/master" class="button"><small><%= gitHub.download %></small><span lang="en" dir="ltr">.tar.gz</span> <%= gitHub.file %></span></a>
                    <p class="repo-owner"><a href="https://github.com/finalfantasia/ug_vk"></a> <%= gitHub.maintainedBy %> <a href="https://github.com/finalfantasia">finalfantasia</a>.</p>
                    <p lang="en" dir="ltr">This page was generated by <a href="pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a> and was adapted to the RTL layout by finalfantasia.</p>
                </aside>
            </div>
        </div>
    </script>

    <script src="l10n/l10n.ug.js" type="text/javascript"></script>
    <script src="javascripts/underscore-min.js" type="text/javascript"></script>
    <script type="text/javascript">
        (function () {
            var template, compiledTemplate, content;

            template = document.getElementById('content-template').innerHTML;
            compiledTemplate = _.template(template);
            content = compiledTemplate(l10n);
            document.getElementById('content-template-wrapper').innerHTML = content;
        } ());
    </script>
</body>
</html>

